.modal {
    h1, h2, h3, h4, h5 {
        margin-top: 0;
        margin-bottom: 0;
    }
    width: 400px;
    height: 320px;
    background: rgb(200, 200, 200);
    padding: 20px;
    top: 40px;
    margin: 0 auto;
    margin-top: 30px;
    &:focus {
        outline: none;
    }
}
.create-box {
    opacity: 0;
    top: -410px;
    visibility: hidden;
    &.open {
        top: 40px;
        visibility: visible;
        opacity: 1;
    }
}
.form-component {
    padding-top: 14px;
    line-height: 30px;
    font-size: .7rem;
    text-transform: uppercase;
    input {
        font-size: 30px;
        margin-top: -6px;
        line-height: 40px;
        width: 100%;
    }
}
.form-group {
    font-family: arial;
    padding-top: 4px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.ReactModalPortal > div {
    opacity: 0;
}
.ReactModal__Overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.ReactModalPortal .ReactModal__Overlay {
    transition: opacity 200ms ease-in-out;
    background: rgba(0, 0, 0, .6);
    &--after-open {
        opacity: 1;
    }
    &--before-close {
        opacity: 0;
    }
}
