oseparate:after {
    content: "";
    display: block;
    width: 94%;
    height: 100%;
    margin: 0 auto;
    margin-top: 10px;
    border-bottom: 1px solid rgba(100, 100, 100, .6);
}

.game-view {
    background: $swatch-primary-light;
    height: calc(100% - 80px - 20px);
    float: left;
    width: calc(100% - #{$sidebar-width + 20px});
    margin-left: 20px;

}

.sidebar {
    position: relative;
    &:before{
        content: "";
        display: block;
        border-top: 1px solid $swatch-primary-light;
        height: 14p;
        width: 100%;
        padding-bottom: 24px;
    }
    float: right;
    width: $sidebar-width;
    height: calc(100% - $header-height);
    padding: 0 20px;

    .sidebar-label {
        text-align: center;
        display: block;
        font-weight: 800;
    }
    label.row-label {
        font-size: .9em;
        color: $swatch-offwhite;
        display: block;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 14px;
    }
}


.sidebar-row {
    display: block;
    width: 100%;
    &.align-center {
        text-align: center;
    }
    margin-bottom: 30px;
}
.board-canvas {
}

.container {
    height: 100%;
    width: 100%;
}


#app {
    background-color: $swatch-primary-dark;
    width: 100%;
    height: 100%;
    &>div {
        height: 100%;
    }
}
.header {
    margin-left: 20px;
    height: $header-height;
    .toggle-button-case {
        padding: 10px;
        margin: 0 auto;
        float:right;
        width: $sidebar-width;
    }
}
