.separate:after {
    content: "";
    display: block;
    width: 94%;
    height: 100%;
    margin: 0 auto;
    margin-top: 10px;
    border-bottom: 1px solid rgba(100, 100, 100, .6);
}

.game-view {
    height: 100%;
    float: left;
    width: calc(100% - #{$sidebar-width})
}

.sidebar {
    float: right;
    width: $sidebar-width;
    height: 100%;
    padding: 20px;

    .sidebar-label {
        text-align: center;
        display: block;
        font-weight: 800;
    }
    label.row-label {
        font-size: .9em;
        color: $swatch-offwhite;
        display: block;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 14px;
    }
}


.sidebar-row {
    display: block;
    width: 100%;
    &.align-center {
        text-align: center;
    }
    &:before {
        content: "";
        width: 100%;
        margin: 20px auto;
        display: block;
        border-top: 1px solid $swatch-primary-light;
    }
}
.board-canvas {
    box-sizing: border-box;
    background-color: $swatch-primary-light;
    width: 100%;
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
}


#app {
    background-color: $swatch-primary-dark;
    width: 100%;
    height: 100%;
    &>div {
        height: 100%;
    }
}
.header {
    height: $header-height;
    .toggle-button-case {
        padding: 20px;
        padding-top: 20px;
        margin: 0 auto;
        float:right;
        width: $sidebar-width;
    }
}
