$sidebar-width: 220px;


$swatch-outcast: #df2940;
$swatch-outcast-light: lighten($swatch-outcast, 10);
$swatch-primary-dark: #353535;
$swatch-primary-light: #434343;
$swatch-white: #FFFFFF;
$swatch-offwhite: #D4D4D4;


$header-height: 80px;
