@import 'variables';

* {
    box-sizing: border-box;
}

html, body {
    font-family: arial;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#app {
    background-color: $color-prim-dark;
    width: 100%;
    height: 100%;
}
.container {
    height: 100%;
    width: 100%;
}
.sidebar {
    background-color: lighten($color-prim-dark, 10);
    float: right;
    width: $sidebar-width;
    height: 100%;
    padding: 6px;
    padding-top: 0;

    .sidebar-label {
        text-align: center;
        display: block;
        font-weight: 800;
    }
}
.sidebar-row {
    padding: 10px 0;
    display: block;
    width: 100%;
    &.align-center {
        text-align: center;
    }
}

.separate:after {
    content: "";
    display: block;
    width: 94%;
    height: 100%;
    margin: 0 auto;
    margin-top: 10px;
    border-bottom: 1px solid rgba(100, 100, 100, .6);
}

.game-view {
    height: 100%;
    float: left;
    width: calc(100% - #{$sidebar-width})
}

#canvas-editor {
    background-color: transparent;
}

#canvas-player{
    background-color: transparent;
}
.board-canvas {
    width: 100%;
    height: 100%;
}

.toggle-wrapper {
    box-shadow: inset 0px 0px 4px rgba(20, 20, 20, .5);
    margin: 0;
    padding: 0;
    width: 160px;
    height: 40px;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
    display: inline-block;
    background: #335971;
}
.toggle-option {
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    display: inline-block;
    color: white;
}

.toggle-nub {
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    height: 100%;
    background: #43A0AD;
    transition: .15s ease-out;
    top: 0;
    left: 0;
    position: absolute;
}
.toggle-nub:after {
    content: "|||";
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-weight: 0;
    filter: blur(0.1px);
    font-size: 20px;
    color: rgba(40, 60, 100, .2);
    margin: 0 auto;
}

.toggle-nub.state-left {
    box-shadow: 3px 0px 5px -2px rgba(0, 0, 0, .6);
    transform: translateX(0);
}

.toggle-nub.state-right {
    box-shadow: -3px 0px 5px -2px rgba(0, 0, 0, .6);
    transform: translateX(100%);
}
